[Unit]
Description=fsl-server-linux
After=network.target

[Service]
ExecStart=/opt/fsl_spark/fsl_spark_linux.sh
ExecReload=/opt/fsl_spark/fsl_spark_linux.sh graceful
Type=notify
Restart=always


[Install]
WantedBy=default.target
