/applyCellStyle.xlsx
/applyFontStyles.xlsx
/applyFontStylesBold.xlsx
/applyFontStylesBoldToRange.xlsx
/applyFontStylesColor.xlsx
/applyFontStylesItalic.xlsx
/applyFontStylesItalicToRange.xlsx
/applyFontStylesName.xlsx
/applyFontStylesRange.xlsx
/applyFontStylesSize.xlsx
/applyFontStylesStrikeOut.xlsx
/applyFontStylesToCell.xlsx
/applyFontStylesTypeOffset.xlsx
/applyFontStylesUnderline.xlsx
/applyNumberFormats.xlsx
